<% provide(:title , "Home") %>
<div class='jumbotron'>
	<%= link_to image_tag("sarthak.png"), "http://rubyrsils.org" , target: "_blank" , class: "img-responsive img-center"%>
<h1 class="center">Home</h1>
<p class="center">Home Page</p>
<%= link_to "Sign Up" , "" , class: "btn btn-primary btn-lg center" %>
</div>