<% provide(:title , "Sign in") %>

<div class="jumbotron">
	<h1 class="center">About</h1>
	<form>
		<div class="form-group">
		<label for="Email Address">Email</label>
		<input type="text" name="email" class="form-control">
		</div>
		<div class="form-group">
		<label for="Email Address">Password</label>
		<input type="password" name="password" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" name="sub" value="submit" class="btn btn-primary form-control">
		</div>
	</form>
</div>