<footer class="footer footer-blog">
      <div class="container">
        
      <div class="row">
      	<div class="col-lg-3">
      		<p class="text-muted">Copyright&copy; <%= link_to "sarthak.co", "http://sarthak.co", target: "_blank" %></p>
      	</div>
      	<div class="col-lg-1 right">
      		<%= link_to "Home", "/" %>
      	</div>
      	<div class="col-lg-1 right">
      		<%= link_to "Help", help_path %>
      	</div>
      	<div class="col-lg-1 right">
      		<%= link_to "About", "about" %>
      	</div>
      </div>
      </div>
</footer>